@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: Melodrama;
    src: url('./assets/fonts/Melodrama-Variable.ttf');
}

@font-face {
    font-family: ClashDisplay;
    src: url('./assets/fonts/ClashDisplay-Variable.ttf');
}
